.wrapper {
    width: 550px;
    margin: 0 auto;
    box-shadow: 0 0 2px #cccccc;
  }
  
  .header,
  .footer {
    padding: 10px;
    background-color: #ecf0f1;
  }
  
  .sidebar {
    float: left;
    width: 150px;
    min-height: 150px;
    padding: 10px;
    color: white;
    background-color: rgba(46, 204, 113, 0.8);
  }
  
  .content {
    min-height: 100px;
    margin-left: 170px;
    padding: 10px;
    color: white;
    background-color: #3498db;
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  