body {
  font-size: 14px;
}

.wrapper {
  width: 430px;
  margin: 0 auto;
  box-shadow: 0 0 2px #cccccc;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header {
  margin-bottom: 10px;
  color: white;
  background-color: #34495e;
}

.header .layout-column {
  min-height: 50px;
}

.header .layout-column-1 {
  float: left;
  width: 280px;
}

.header .layout-column-2 {
  float: right;
  width: 130px;
}

.features {
  margin-bottom: 10px;
}

.features .layout-column {
  float: left;
  width: 130px;
  min-height: 100px;
  margin-right: 20px;
  background-color: rgba(236, 240, 241, 0.9);
}

.features .layout-column:last-child {
  margin-right: 0;
}

.footer {
  min-height: 50px;
  color: white;
  background-color: #34495e;
}

/* Стили содержания */
.hidden {
  display: block;
}

.logo {
  padding: 10px;
}

.logo p {
  margin: 0;
}

.menu {
  margin: 0;
  padding: 10px;
  list-style: none;
}

.menu li {
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
  background-color: #2c3e50;
  border-radius: 5px;
}

.feature {
  padding: 10px;
  text-align: center;
}

.footer-logo {
  padding: 10px;
}
