* {
    box-sizing: border-box;
}

body {
    color: white;
    font-size: 30px;
}

.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .row { display: inline-block; }
  /* start commented backslash hack \*/
  * html .row { height: 1%; }
  .row { display: block; }
  /* close commented backslash hack */

.header {
    
    
    margin-bottom: 10px;
}

.inner-header {
    background: blue;
    height: 200px;
}

.content {

    width: 70%;
    float: left;
}

.inner-content {
    background: lightblue;
    min-height: 500px;
}

.sidebar {

    width: 30%;
    float: left;
    padding-left: 10px;
}

.inner-sidebar {
    background: green;
    min-height: 500px;
}

.footer {

    margin-top: 10px;
    /* clear: both; */
}

.inner-footer {
    background: lightgreen;
    height: 200px;
}
