html,
body {
margin: 0;
padding: 0;
}

body {
width: 450px;
height: 335px;

font-size: 10px;
font-family: "Arial", sans-serif;
color: white;
}

/*
Используемые цвета:
#34495e – мокрый асфальт
#c0392b – красный
#3498db – синий
*/
.header {
background-color: #34495e;
display: block;
padding-top: 10px;
}
.layout-column {
padding: 5px;
}
.layout-column-1 {
display: block;
width: 340px;
background-color: #c0392b;
margin: 0px 50px 10px;
min-height: 25px;

}
.layout-column-2 {
background-color: #3498db;
min-height: 25px;
padding-left: 55px;
}
.layout-column-3 {
float: left;
margin-left: 50px;
width: 160px;
background-color: #c0392b;
margin-top: 10px;
min-height: 50px;
}
.layout-column-4 {
float: right;
margin-right: 50px;
background-color: #c0392b;
margin-top: 10px;
min-height: 50px;
width: 160px;
}
.header::after {
display: block;
content: "";
color: red;
clear: both;
padding-bottom: 10px;
}
.content-container {
padding-top: 10px;
background-color: white;
}
.content-container .layout-column {
float: left;
}
.layout-column-5 {
min-height: 100px;
width: 60px;
background-color: #3498db;
display: block;
margin-left: 50px;
margin-right: 10px;
}
.layout-column-6 {
background-color: #3498db;
display: block;
min-height: 100px;
width: 180px;
margin-right: 10px;
}
.layout-column-7 {
background-color: #3498db;
display: block;
min-height: 100px;
width: 60px;
float: right;
}
.content-container::after {
display: block;
content: "";
color: red;
clear: both;
padding-bottom: 10px;
}
.footer {
background-color: #34495e;
display: block;
padding-left: 55px;
min-height: 35px;
padding-top: 5px;
}