div {
    margin-bottom: 15px;
    padding: 10px 25px 10px 25px;
  
    background-color: #dff0d8;
}
  
.left-column {
    width: 50%;
    min-height: 100px;
    float: left;
    background-color: #fcf8e3;
}
  
.right-column {
    width: 25%;
    min-height: 100px;
    float: right;
    background-color: #d9edf7;
}
  
.footer {
    clear: both;
}
  